# Aula 3

### coleção de dados

In [2]:
my_list = [1, 2, 3]

type(my_list)

list

### list - utilizam-se para representar uma lista

In [3]:
this_list = list("volvo")

type(this_list)

list

### Propriedades de uma lista:
 ##### • Permite duplicados

In [4]:
duplicates_list = [2, 2]

duplicates_list

[2, 2]

#### • Permite vários tipos diferentes

In [5]:
diff_types_list = [1, "sand", 1.75, True]

diff_types_list

[1, 'sand', 1.75, True]

#### • Ordenada
#### Os seus elementos têm uma ordem definida e essa ordem não se irá alterar. Consequentemente, podem ser acedidos através de um índice.
#### • Mutável
#### É possível alterar, adicionar e remover itens numa lista, após esta ter sido criada.

#### indices da lista começam em 0, 1, 2 , 3

In [7]:
colors = ["blue", "red", "yellow"] #índices começam em 0
colors[2]

'yellow'

In [9]:
transports = ["car", "plane", "bike"] #neste caso, o índice -1 refere-se ao␣!último elemento
transports[-2]

'plane'

In [10]:
vegetables = ["carrot", "brocolli", "mushroom", "spinach"]
vegetables[1:]

['brocolli', 'mushroom', 'spinach']

In [11]:
animals = ["cat", "dog", "bird", "elephant", "zebra"]
animals[:2]

['cat', 'dog']

In [13]:
food = ["spaghetti", "burguer", "pizza"]
food[1:2]

['burguer']

In [14]:
prog_languages = ["C", "C#", "C++", "Java", "R"]
prog_languages[-4:-1]

['C#', 'C++', 'Java']

### Alterar elementos

In [15]:
vowels = ["a", "e", "i", "o", "u"]
vowels[2] = "I"
vowels

['a', 'e', 'I', 'o', 'u']

In [16]:
subjects = ["maths", "physics", "geometry", "chemistry"]
subjects[1:3] = ["english", "german"]
subjects

['maths', 'english', 'german', 'chemistry']

In [17]:
countries = ["portugal", "denmark", "mozambique", "brazil"]
countries[1:2] = ["belgium", "switzerland"]
countries

['portugal', 'belgium', 'switzerland', 'mozambique', 'brazil']

In [18]:
cities = ["viseu", "coimbra", "aveiro"]
cities[1:3] = ["braga"]
cities

['viseu', 'braga']

#### Adicionar elementos

In [19]:
numbers = ["one", "two", "three"]
numbers.append("four")
numbers

['one', 'two', 'three', 'four']

In [20]:
sports = ["football", "tennis"]
sports.insert(1, "rugby")
sports

['football', 'rugby', 'tennis']

In [21]:
apparel = ["trousers", "skirts"]
shoes = ["boots", "slippers"] #também poderia ser um tuplo, por exemplo
apparel.extend(shoes)
apparel

['trousers', 'skirts', 'boots', 'slippers']

### Remover elementos

In [22]:
planets = ["mercury", "venus", "earth", "pluto"]
planets.remove("pluto")
planets

['mercury', 'venus', 'earth']

In [23]:
summer = ["sun", "beach"]
summer.clear()
summer

[]

In [24]:
body_parts = ["arms", "legs", "head"]
body_parts.pop(1) #se o índice não for especificado, remove o último elemento
body_parts

['arms', 'head']

In [25]:
body_parts = ["arms", "legs", "head"]
del body_parts[1]
body_parts

['arms', 'head']

In [57]:
## exercicio
def first_last(x):
    return x[0], x[-1]
    

first_last([3, 4, 'a'])

(3, 'a')

## listas de compreensao

###### newlist = [expression for item in iterable if condition == True]: Sintaxe de uma lista em compreensão (a condição é opcional)

In [2]:
plants = ["rose", "cactus", "bamboo", "daisy"]

plants_with_s = []

for plant in plants:
    if "s" in plant:
        plants_with_s.append(plant)
        
plants_with_s

['rose', 'cactus', 'daisy']

In [3]:
plants = ["rose", "cactus", "bamboo", "daisy"]

plants_with_s = [plant for plant in plants if "s" in plant]

plants_with_s

['rose', 'cactus', 'daisy']

In [14]:
new_birds = []

birds = ["chicken", "blackbird", "flamingo"]

for bird in birds:
    if bird == "blackbird":
        new_birds.append("commom blackbird")
    else:
        new_birds.append(bird)
        
new_birds

['chicken', 'commom blackbird', 'flamingo']

In [12]:
["commom blackbird" if bird == "blackbird" else bird for bird in birds]

['chicken', 'commom blackbird', 'flamingo']

### ordenar listas

In [16]:
weekdays = ["monday", "Tuesday", "wednesday", "thursday", "friday"]

weekdays.sort() #também funciona para números

weekdays

## o Tuesday ficou em primeiro lugar porque tem letra maiuscula

['Tuesday', 'friday', 'monday', 'thursday', 'wednesday']

In [17]:
makeup = ["blush", "eyeshadow", "lipgloss"]

makeup.sort(reverse=True)

makeup

['lipgloss', 'eyeshadow', 'blush']

In [18]:
def my_sort_function(x):
    return abs(x)

x = [-17, -1, 3, -2, 4]

x.sort(key=my_sort_function)

x

[-1, -2, 3, 4, -17]

In [19]:
weekend = ["saturday", "sunday"]

weekend.reverse()

weekend

['sunday', 'saturday']

### copiar listas

In [20]:
months = ["january", "february", "march"]

new_list = months.copy()

new_list

['january', 'february', 'march']

In [21]:
months = ["january", "february", "march"]

my_new_list = list(months)

my_new_list

['january', 'february', 'march']

### count()

In [22]:
money = ["euro", "pound", "dollar", "euro"]

money.count("euro")

2

### index()

In [23]:
teams = ["slbenfica", "fcporto", "scbraga"]

teams.index("fcporto")

1

### exercicio

In [33]:
# Escreva uma função que retorna o maior elemento de uma lista.

def maior(t):
    maior = 0
    for i in t:
        if i > maior:
            maior = i
    return maior

    
maior([2, 4, 1])

4

In [63]:
# Escreva uma função que retorna todas as combinações de 
# pares de 0 até um limite, com
# recurso a uma lista em compreensão.

def pares(limite):
    result = []
    for i in range(limite +1):
        for j in range(limite +1):
            result.append((i, j))
            
    return result


pares(2)

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [69]:
# Escreva uma função que retorna os n menores números de uma lista de números.

def menores(l,n):
    l.sort()
    return l[:n]  
    
menores([2,6,1,3], 3)

[1, 2, 3]

## tuples

#### tuple() - Construtor utilizado para criar um tuplo

In [70]:
my_tuple = (1,2,3) #para criar um tuplo com um único elemento, é necessário␣,!colocar uma vírgula no fim

type(my_tuple)

tuple

In [71]:
this_tuple = tuple((4,8))

type(this_tuple)

tuple

### Propriedades de um tuplo:
#### • Permite duplicados

In [72]:
duplicates_tuple = (2,2)

duplicates_tuple

(2, 2)

### Permite vários tipos diferentes

In [73]:
diff_types_tuple = (2, "ana", 3.45, False)

diff_types_tuple

(2, 'ana', 3.45, False)

#### • Ordenado
###### Os seus elementos têm uma ordem definida e essa ordem não se irá alterar. Consequentemente, podem ser acedidos através de um índice.
#### • Imutável
##### Não é possível alterar, adicionar e remover itens num tuplo, após este ter sido criado.

#### Aceder a elementos

### Desconstruir tuplos

In [74]:
specialty = ("cardiology", "dermatology", "neurology")

(heart, skin, brain) = specialty

print(heart)
print(skin)
print(brain)

cardiology
dermatology
neurology

In [75]:
books = ("The Great Gatsby", "Don Quixote", "War and Peace", "Anna Karenina")

(fitzgerald, cervantes, *tolstoi) = books

print(fitzgerald)
print(cervantes)
print(tolstoi)

The Great Gatsby
Don Quixote
['War and Peace', 'Anna Karenina']

#### exercicio

In [98]:
# Escreva uma função que retorna a distância euclidiana 
# entre dois pontos.

def euclidiana (t1, t2):
    resultado = math.sqrt((t1[0]-t2[0])**2 + (t1[1] - t2[1])**2)
    return resultado

euclidiana((1,2), (5,6))

5.656854249492381

In [102]:
# Escreva uma função que retorna o resultado de
# somar os elementos de cada tuplo presente numa lista de tuplos.

def soma(x):
    i = 0
    for j in x:
        i = i + j 
    return i

def somar_tuplos(t): 
    my_list=[] # acrescenta-se uma lista para retornar no final como lista
    for i in t:
         my_list.append(soma(i))
    return my_list

    
somar_tuplos([(1,2), (4,6), (8,7)])

[3, 10, 15]

In [117]:
def aux(x):
    i = 0
    for j in x:
        i = i + j 
    return i

In [128]:
# Escreva uma função que recebe uma lista de listas de números 
# e retorna a sublista que resulta na maior soma.

def max_sublista(l):
    sum = 0
    index = 0
    for idx, i in enumerate(l):
        soma(i) > sum
        sum = soma(i)
        index = idx
        return l[index]

        
max_sublista(([3,4], [1,2], [1, 2, 6]))

[3, 4]

## Sets

In [129]:
my_set = {1,2,3} #caso não tenha elementos já não se trata de um conjunto, mas␣,sim de um dicionário

type(my_set)

set

In [130]:
this_set = set(("banana", "apple", "orange"))

type(this_set)

set

In [131]:
no_duplicates_set = {"tree", "tree"}

no_duplicates_set

{'tree'}

In [132]:
singers = {"Lady Gaga", "Shakira"}

singers.add("Beyoncé")
singers

{'Beyoncé', 'Lady Gaga', 'Shakira'}

In [133]:
bands = {"Maroon 5", "The Script"}

dead_bands = {"Nirvana", "Queen"} #também poderia ser uma lista, por exemplo

bands.update(dead_bands)

bands

{'Maroon 5', 'Nirvana', 'Queen', 'The Script'}

In [134]:
jewelry = {"ring", "earring", "bracelet"}
jewelry.remove("ring")
jewelry

{'bracelet', 'earring'}

### juntar sets

In [135]:
living_painters = {"Cindy Sherman", "Liu Xiaodong"}
dead_painters = {"Vincent van Gogh", "Pablo Picasso"}
painters = living_painters.union(dead_painters)

painters

{'Cindy Sherman', 'Liu Xiaodong', 'Pablo Picasso', 'Vincent van Gogh'}

In [136]:
it_brands = {"microsoft", "apple", "google"}
fruits = {"apple", "cherry", "strawberry"}

it_brands.intersection_update(fruits)

it_brands

{'apple'}

In [137]:
motorcycle_brands = {"ducati", "yamaha"}
piano_brands = {"yamaha"}

motorcycle_brands.symmetric_difference_update(piano_brands)

motorcycle_brands

{'ducati'}

In [139]:
chocolate_cake_ingredients = {"eggs", "sugar", "flour", "chocolate"}

strawberry_cake_ingredients = {"eggs", "sugar", "flour", "strawberry"}

flavours = chocolate_cake_ingredients.symmetric_difference(strawberry_cake_ingredients)

flavours

{'chocolate', 'strawberry'}

In [140]:
s1 = {"a", "b", "c", "d", "e"}
s2 = {"a", "b"}

s1.issuperset(s2)

True

In [141]:
set1 = {1,2}
set2 = {1,2,3,4}

set1.issubset(set2)

True

In [142]:
first_set = {True, False}
second_set = {False}

first_set.isdisjoint(second_set)

False

In [143]:
original_set = {"ball"}
copied_set = original_set.copy()

copied_set

{'ball'}

In [144]:
a = {1.5, 3.45}
b = {4.75, 1.5}

c = a.difference(b)

c

{3.45}

In [145]:
d = {True, 3}
e = {3, 4}

d.difference_update(e)

d

{True}

In [158]:
# Escreva uma função que retorna um conjunto com os elementos 
# que existem apenas no primeiro conjunto e 
# não no segundo conjunto.

def diff(s1, s2):
    c = s1.difference(s2)
    return c
    
diff({1,2,3}, {4,5,2})


# tambem dava s1 - s2

{1, 3}