# Aula 5

# Variables scope


O escopo é importante porque precisamos entendê-lo em quase todos os programas que escrevemos.

Isto permite-nos entender onde é que as nossas variáveis podem ser vistas dentro do programa e também quais os valores que essas variáveis contêm

As variáveis podem ser de quatro tipos: integradas, globais, envolventes ou locais

Esta também é a ordem que o python usa para avaliar uma variável.

In [3]:
# variáveis embutidas são todas as variáveis carregadas pelo próprio python para serem usadas

copyright

Copyright (c) 2001-2021 Python Software Foundation.
All Rights Reserved.

Copyright (c) 2000 BeOpen.com.
All Rights Reserved.

Copyright (c) 1995-2001 Corporation for National Research Initiatives.
All Rights Reserved.

Copyright (c) 1991-1995 Stichting Mathematisch Centrum, Amsterdam.
All Rights Reserved.

In [5]:
# qual será o valor x?
x = 'global x'

def test():
    x = 'local x'
    print(x)
    
print(x)

global x

In [6]:
x = 'global x'

def outer():
    x = 'enclosing x'
    
    def inner(x):
        x = 'local x'
        print(x)
        
    print(x)
    
outer()

enclosing x

In [7]:
x = 'global x'

def outer():
    x = 'enclosing x'
    
    def inner():
        x = 'local x'
        print(x)
    
    inner()

outer()

local x

## Exercicio 

Descobrir quantos `x`s serão imprimidos e em que ordem.

In [9]:
x = 'global x'

def outer():
    x = 'enclosing x'
    
    def inner(x):
        x = 'local x'
        print(x)

    inner(x)
    print(x)

outer()
print(x)

local x
enclosing x
global x

# json

O módulo json está disponivel em python

In [10]:
import json


# e adicionar algo

people_string = '''
{
    "people": [
        {
            "name": "John Smith",
            "phone": "615-555-7164",
            "emails": ["john@bogus.com", "johm@work.com"],
            "has_license": false
        },
        {
            "name": "Jane Doe",
            "phone": "615-666-7164",
            "emails": null,
            "has_license": true
        }
    ]
}
'''

# Vamos converter essa string num objeto Python, para que possamos trabalhar com ela:

json.loads(people_string)
data = json.loads(people_string)

In [8]:
#Converteu todo o objeto json num dicionário:
type(data)

dict

In [9]:
# Matrizes json convertidas (os e-mails) em listas
data['people'][0]['emails']

['john@bogus.com', 'johm@work.com']

Verdadeiro, falso e nulo convertidos em booleanos python e valor nulo: verdadeiro, falso e nenhum

In [11]:
# Agora será muito mais fácil trabalhar com estes dados
# Vamos percorrer estas pessoas e acessá-las:

for person in data['people']:
    print(person['name'])

John Smith
Jane Doe

In [12]:
# Agora vamos fazer o oposto: transformar nosso dicionário python em um objeto json
# Vamos usar estes dados, mas vamos limpá-los. Imagine que não queríamos o número de telefone no novo objeto json

for person in data['people']:
    del(person['phone'])

new_string = json.dumps(data)
print(new_string)

{"people": [{"name": "John Smith", "emails": ["john@bogus.com", "johm@work.com"], "has_license": false}, {"name": "Jane Doe", "emails": null, "has_license": true}]}

In [ ]:
# # Vamos limpar de uma forma mais legível e com chaves classificadas:
new_string = json.dumps(data, indent=2, sort_keys=True)
print(new_string)

# data analysis

In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [17]:
# carregar o arquivo de dados
data_file = pd.read_csv('flights.csv')

#data_file = pd.read_excel('data_with_headers.xlsx')

In [18]:
#print(data_file[0:3])
data_file.head(3)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [24]:
# Vamos analisar a coluna de tempo
Year = data_file['Year']
print(Year[:3])

0    2008
1    2008
2    2008
Name: Year, dtype: int64

In [ ]:
# Vamos livrar das colunas sem dados (NaN's)
sensors = data_file.loc[:, 's1':'s4']
print(sensors[:3])

In [ ]:
#Vamos obter a média de cada linha e de cada coluna:
avg_row = np.mean(sensors, 1)
avg_col = np.mean(sensors, 0)
print(avg_row[:3])
print()
print(avg_col)

In [ ]:
# Vamos juntar as colunas novamente:
join_cols = [time, sensors, avg_row]
final_data = pd.concat(join_cols, axis = 1)
print(final_data[:3])

In [ ]:
# Vamos dar um título de cabeçalho para nossa coluna avg_row:
final_data = final_data.rename(columns={0: 'Avg'})
print(final_data[:300])

In [ ]:
# exportar dados
final_data.to_csv('final_data.csv')

#final_data.to_excel('final_data.xlsx')
#final_data.to_html('final_data.htm')
#final_data.to_clipboard(

In [ ]:
# gerar uma figura
plt.figure(1)
plt.plot(time,sensors['s1'],'r-')
plt.plot(time,avg_row,'b.');

In [ ]:
# adicionar legendas na figura
plt.figure(1)
plt.plot(time,sensors['s1'],'r-')
plt.plot(time,avg_row,'b.')
plt.legend(['Sensor 1','Average'])
plt.xlabel('Time (sec)')
plt.ylabel('Sensor Values')

In [ ]:
# salvar a imagem em PNG
plt.figure(1)
plt.plot(time,sensors['s1'],'r-')
plt.plot(time,avg_row,'b.')
plt.legend(['Sensor 2','Average'])
plt.xlabel('Time (sec)')
plt.ylabel('Sensor Values')
plt.savefig(f'{os.getcwd()}/figures/my_Python_plot.png')